<link href="css/about.css" rel="stylesheet">
<div class="row">

    <!--Second half-->
    <div class="col-xs-12 col-sm-5 leftBar">
        <div class="contactInfo" style="margin:20px">
            <div>The Greens Office Park, 26 Charles de Gaulle Crescent, </div>
            <div>Highveldx12, Centurion, 0157</div>
            <div>Po Box 11413, Zwartkop, 0051</div>
            <div> Tel: +27 11 049 8601</div>
            <div>enquiries@tendaonline.co.za</div>
        </div>

        <div class="disclosure" style="margin-top:20px">
            <div>Disclosure notice in terms of the general Code of Conduct of the Financial Advisery and Intermediary Services(FAIS) Act no 37 of 2002</div>
        </div>

        <div class="title" style="margin-top:20px">
            <div style="font-weight:300">TENDAHEALTH(PTY) LTD, <span style="font-weight:600">Reg.No. 2012/105834/07</span></div>
            <div style="font-weight:300">Tendahealth is a authorised financial services provider<span style="font-weight:600">(FSP No 44680)</span></div>
            <div style="font-weight:600">CMS accredited (ORG.4268)</div>

        </div>

        <div class="title" style="margin-top:20px">
            <div>
                Your intermediary <span style="font-weight:600">{{dashboard.advisor.contact.firstName}} {{dashboard.advisor.contact.lastName}}</span>, is a representative of Tendahealth. This license authorises the holder to provide
                financial services with respect to health service benefitsand short-term insurance products and has been accredited by the Council for Medical
                Schemes, BR <span style="font-weight:600">{{dashboard.advisor.cmsCode}}. </span> He/She acts within the stipulations of her contract as an
                independent contractor and the relevant regulations of the FSB.
            </div>

        </div>

        <div style="margin-top:20px">
            <div>
                <span style="font-weight:600">Remuneration:</span> Representatives earn commission as authorized under the Medical Schemes Act, 1998(Act No. 131 of 1998) and the Short-Term Insurance Act,
                1998(Act No 53 of 1998).
            </div>
        </div>

        <div style="margin-top:20px">
            <div>
                <span style="font-weight:600">Fees:</span> We reserve the right to change a fee for our services. This will be agreed with you in writing.
            </div>
        </div>

        <div style="margin-top:20px">
            <div>
                We hold <span style="font-weight:600"> professional indemnity cover, </span> but due to the fact that the business does not collect premiums from clients,we
                consider it unnecessary to hold fidelity insurance cover.
            </div>
        </div>

        <div style="margin-top:20px">
            <div>
                <span style="font-weight:600">Lodging a complaint: </span> We have a compliants resolution system available that you can obtain on our
                website or by requesting it via email at enquiries@tendaonline.co.za If you have any queries or concerns,please don't hesitate to contact us.
            </div>
        </div>

        <div style="margin-top:20px">
            <div>
                Our <span style="font-weight:600"> compliance officer </span> is Masemola Mosefe and can be contacted via telephone on 082 509 1115
                or e-mail mmasemola@mosefe.co.za. If we cannot settle your complaint with us,
                you are entitled to refer it to either the FAIS or Short-Term Ombud.
            </div>
        </div>

    </div>

    <!--Second half-->
    <div class="col-sm-1 RightLine"></div>
    <div class="col-sm-1"></div>
    <div class="col-xs-12 col-sm-5 rightBar" style="margin-left:90px">

        <div style="margin:20px">
            <div style="font-weight:600">The FAIS Ombud</div>
            <div>PO Box 74571, Lynnwood Ridge, 0040</div>
            <div>Tel: 012-470 9080 Fax: 012-348 3447</div>
            <div>Email:info@faisombud.co.za Website: www.faisombud.co.za</div>
        </div>

        <div style=""margin-top:20px">
            <div style="font-weight:600">The Ombud for Short-Term Insurance</div>
            <div>Tel: 011-726 8900 Fax: 011-726 5501</div>
            <div>PO Box 32334, Braamfontein, 2017</div>
            <div>Email: info@osti.co.za Website: http:/osti.co.za</div>
        </div>

        <div style="margin-top:20px">
            <div style="font-weight:600">Our service model:</div>
            <br>
            <ul>
                <li>We undertake to render the financial service to the client with due care, skill and diligence</li>
                <li>
                    We undertake to keep all information confidential unless required to disclose such information
                    in order to effectively render the service required by the client
                </li>

                <li>
                    We undertake to submit applications timeously and to manage the administrative process in a professional manner
                </li>

                <li>
                    After a contract or policy has been issued, the client will receive confirmation of the terms and
                    conditions of the contract directly from the product supplier, within a couple of weeks. The client should contact us if such contract is not approved or received within three weeks after submission of the policy application
                </li>

                <li>
                    Failure to provide correct and full material information may influence an insurer in respect
                    of any claim arising under your contract of insurance
                </li>



            </ul>
        </div>

        <div style="margin-left:20px; margin-top:20px">
            <div>
                <span style="font-weight:600"> Document on the advice given: </span> A needs analysis or correspondence between the representative and client will form part of the document to conclude
                any resulting transactions.
            </div>
        </div>

        <div style="margin-left:20px; margin-top:20px">
            <div>
                We place a high priority on our clients interest. In the event of any conflict of interest, we have a
                <span style="font-weight:600">Conflict of Interest Policy</span> to address any possible conflicts that may arise.
                Where we can not avoid conflict, measures will be in place to mitigate such conflicts.
            </div>
        </div>

        <div style="margin-left:20px; margin-top:20px">
            <div>
                <span style="font-weight:600"> In </span>the event that Tendhealth changes its juristic profile, is sold to another FSP or stops to exist for whatever reason, the client
                hereby authorizes the transfer of this contractual obligation to another FSP
            </div>
        </div>


    </div>
</div>