
<!--This is the base class of the new Application page.
    It will contain 4 steps that the user will be guided to to finish the application registration.-->

<div class="row" data-ng-controller="newApplicationController">

    <div class="col-xs-12">
        <div class="col-xs-1"></div><button class="btn btn-sm btn-primary" ng-click="goBackToApplications()">Back to Applications</button>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-10 nopadding applicationDetailMassiveCard" ui-view="clientDetails" ng-if="registerItem == 0 ? true : false"></div>
    <div class="col-xs-10 nopadding applicationDetailMassiveCard" ui-view="products" ng-if="registerItem == 1 ? true : false"></div>
    <div class="col-xs-10 nopadding applicationDetailMassiveCard" ui-view="documents" ng-if="registerItem == 2 ? true : false"></div>
    <div class="col-xs-10 nopadding applicationDetailMassiveCard" ui-view="summary" ng-if="registerItem == 3 ? true : false"></div>
    <div class="col-xs-10 nopadding applicationDetailMassiveCard" ui-view="checkExistingClient" ng-if="registerItem == 100 ? true : false"></div>
    <div class="col-xs-1"></div>

    <div class="col-xs-12 bottomSpacing"></div>

</div>

