
<div class="col-xs-12" ng-show="application.client.errorMessage && application.client.errorMessage.length > 0">
    <div class="bg-danger">
        {{application.client.errorMessage}}
    </div>
</div>
<form name="clientDetailsForm">
    <div class="row registerAdvisor margin-v-30" ng-if="registerItem == 0 ? true : false">
        <h3 class="col-xs-12 smallHeading" ng-if="isNewApplication">Client Details</h3>
        <div class="col-xs-12 registrationDescription" ng-if="isNewApplication">Please provide your client details</div>
        <div class="col-xs-12 col-sm-6 remindersCards">
            <div class="col-xs-12 remindersCard">
                <div class="col-xs-12 cardHeading cardVia cardViaBolder"
                     style="text-align: left; padding-right: 0;">Personal Details
                </div>

                <div class="col-xs-6 nopadding">Id Number</div>
                <input style="float:right"
                       placeholder="Id Number"
                       type="text"
                       ng-model="contact.idNumber"
                       ng-change="validateIdNumber(contact.idNumber)"
                       ng-class="invalidIdNumber ? 'invalid' : ''"
                       ng-model-options="{ debounce: 500 }"
                       class="col-xs-4 nopadding textEditable"
                       required />
                <div class="col-xs-2 nopadding"
                     style="color: white; background-color:red;float:left"
                     ng-show="duplicateIdNumbers"><span>&#10060;</span>Exists
                </div>
                
                <div class="col-xs-6 nopadding">Title:</div>
                <select class="col-xs-6 nopadding textEditable"
                        ng-model="contact.contactTitle"
                        style="float: right;"
                        ng-disabled="!editingApplicationDetail"
                        ng-options="title.name for title in Titles track by title.id"
                        required>
                </select>
                
                <div class="col-xs-6 nopadding">First Name</div>
                <input ng-class="contact.firstName == null ? 'validationError' : ''"
                       ng-model="contact.firstName"
                       placeholder="First Name"
                       style="float:right"
                       type="text"
                       class="col-xs-4 nopadding textEditable"
                       ng-change="checkCharaters(contact.firstName)"
                       ng-disabled="!editingApplicationDetail"
                       required />
                
                <div class="col-xs-2 nopadding"
                     style="color: white; background-color:red;float:left"
                     ng-show="incorrectEntry"><span>&#10060;</span>!
                </div>
                
                <div class="col-xs-6 nopadding">Middle Name</div>
                <input ng-model="contact.middleName"
                       placeholder="Middle Name"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
                
                <div class="col-xs-6 nopadding">Last Name</div>
                <input ng-class="contact.lastName == null ? 'validationError' : ''"
                       ng-model="contact.lastName"
                       placeholder="Last Name"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail"
                       required />
                
                <div class="col-xs-6 nopadding">Employer</div>
                <input ng-model="contact.employerName"
                       placeholder="Employer Name"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
                
                <div class="col-xs-6 nopadding">Job Title</div>
                <input ng-model="contact.jobTitle"
                       placeholder="Job Title"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
            </div>

            <div class="col-xs-12 remindersCard">
                <div class="col-xs-12 cardHeading cardVia cardViaBolder"
                     style="text-align: left;">Contact Details
                </div>

                <div class="col-xs-6 nopadding">Cell 1</div>
                <input ng-model="contact.cell1"
                       placeholder="Cell 1"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
                
                <div class="col-xs-6 nopadding">Cell 2</div>
                <input ng-model="contact.cell2"
                       placeholder="Cell 2"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />

                <div class="col-xs-12 breakLine"></div>

                <div class="col-xs-6 nopadding">Tel 1</div>
                <input ng-model="contact.tel1"
                       placeholder="Tel 1"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
                <div class="col-xs-6 nopadding">Tel 2</div>
                <input ng-model="contact.tel2"
                       placeholder="Tel 2"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />

                <div class="col-xs-12 breakLine"></div>

                <div class="col-xs-6 nopadding">Email 1</div>
                <input ng-model="contact.email"
                       placeholder="Email 1"
                       type="text" class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
                
                <div class="col-xs-6 nopadding">Email 2</div>
                <input ng-model="contact.email2"
                       placeholder="Email 2"
                       type="text"
                       class="col-xs-6 nopadding textEditable"
                       ng-disabled="!editingApplicationDetail" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 remindersCards">
            <div class="col-xs-12 remindersCard">
                <div class="col-xs-12 uberbreak" ng-repeat="address in contact.addresses">
                    <div class="col-xs-2 btn crossButton"
                         style="float: right;"
                         title="Delete Document"
                         ng-click="deleteAddress($index)"
                         ng-show="editingApplicationDetail">X
                    </div>
                    <div class="col-xs-12 cardHeading cardVia cardViaBolder"
                         style="text-align: left;">Address {{ contact.addresses.length > 1 ? $index + 1 : "" }}
                    </div>

                    <div class="col-xs-6 nopadding">Address Type:</div>
                    <select class="col-xs-6 nopadding textEditable"
                            ng-model="address.addressType"
                            style="float: right;"
                            ng-disabled="!editingApplicationDetail"
                            ng-options="addressType.name for addressType in AddressTypes track by addressType.id">
                    </select>

                    <div class="col-xs-6 nopadding">Description:</div>
                    <input ng-model="address.description"
                           placeholder="Description"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />

                    <div class="col-xs-12 breakLine"></div>

                    <div class="col-xs-6 nopadding">Street 1:</div>
                    <input ng-model="address.street1"
                           placeholder="Street 1"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-6 nopadding">Street 2:</div>
                    <input ng-model="address.street2"
                           placeholder="Street 2"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-6 nopadding">Street 3:</div>
                    <input ng-model="address.street3"
                           placeholder="Street 3"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />

                    <div class="col-xs-12 breakLine"></div>

                    <div class="col-xs-6 nopadding">Suburb:</div>
                    <input ng-model="address.suburb"
                           placeholder="Suburb"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-6 nopadding">Postal Code:</div>
                    <input ng-model="address.postalCode"
                           placeholder="Postal Code"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-6 nopadding">City:</div>
                    <input ng-model="address.city"
                           placeholder="City"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-6 nopadding">Map Url:</div>
                    <input ng-model="address.mapUrl"
                           placeholder="Map Url"
                           type="text"
                           class="col-xs-6 nopadding textEditable"
                           ng-disabled="!editingApplicationDetail" />
                    
                    <div class="col-xs-12 breakLine"></div>

                    <div class="col-xs-6 nopadding">Province:</div>
                    <select class="col-xs-6 nopadding textEditable"
                            ng-model="address.province"
                            style="float: right;"
                            ng-disabled="!editingApplicationDetail"
                            ng-options="prov.name for prov in Province track by prov.id">
                    </select>
                    
                    <div class="col-xs-6 nopadding">Country:</div>
                    <select class="col-xs-6 nopadding textEditable"
                            ng-model="address.country"
                            style="float: right;"
                            ng-disabled="!editingApplicationDetail"
                            ng-options="cntry.name for cntry in Country track by cntry.id">
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <button ng-show="!clientDetailsForm.$invalid"
                    class="col-xs-3 btn btn-sm btn-primary nextButtonRegister"
                    style="float: right;"
                    ng-click="gotoPage(1)"
                    ng-if="isNewApplication">
                Next
            </button>
        </div>
    </div>
</form>
